@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

/* Style for layout.css */
body{
  padding: 0px;
  transition-duration: 0.3s;
}
html, body {
  margin: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.navbar{
  padding: .2rem;
  background-color: rgb(240, 237, 232) !important;
}
.navbar-brand img{
  max-height: 90px;
  object-fit: contain;
  margin: -20px 0px -17px -15px !important;
  background-color: transparent;
}
.nav-link{
  font-size: 150% !important;
  color:purple !important;
  font-family: Varela Round;
}
.navbar-nav li {
  padding: 2px;
}
.notification {
  color:purple !important;
  text-decoration: none;
  padding:5px 5px 5px 5px;
  position: relative;
  font-size: 150%;
  font-family: Varela Round;
  top: 6px;
  display: inline-block;
  border-radius: 2px;
}
.notification .badge {
  position: absolute;
  top: -20px;
  padding: 5px 10px;
  border-radius: 50%;
  color: rgb(240, 237, 232) !important;
}
.fa-youtube {
  color: #bb0000;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-whatsapp {
  color: rgb(13, 223, 13);
}
.fa-google-plus-g {
  color: #dd4b39; 
}
.fa-instagram {
  color: #517fa4;
}
.fa-facebook:hover, .fa-twitter:hover, .fa-google-plus-g:hover, .fa-instagram:hover, .fa-youtube:hover {
  color: #d5d5d5;
}



/* style for index carousel section*/
.carousel-inner-head{
  position: relative;
}
.carousel-item-head{
  background-color: rgb(62, 71, 43);
  position: relative;
}
.carousel-item-head img{
  max-width: 35%;
  object-fit: contain;
  margin-top: 5.5rem;
  margin-bottom: 2rem;
  float: right;
  margin-right: -5rem;
}
.carousel-caption-head h3{
  font-size: 200%;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 0.1rem;
  color:white;
  font-family: Varela Round;
}
.carousel-caption-head button {
  font-size: 90%;
  padding: 10px;
  border: 1px solid white;
  font-family: Varela Round;
  text-shadow: 1px 1px 10px #000;
}
.tempclass{
  height: 200px;
}
.carousel-caption-head{
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  transform: translate(-40%);
 } 




/* Style for index main section */
.main-lines{
  color: #351e06 ;
}
.slide-containers {
  max-width: 100%;
  height: 600px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  border-bottom: 2px solid black;
}

.section-container {
  width: 100%;
  margin-top: -45px;
  height: 560px;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  flex-wrap: nowrap;
  
}

section .thumbnail {
  margin: 20px 5px 1px 1px;
  max-height: 560px;
  width: 360px !important;
  transform: scale(0.80);
  transition: all .3s;
  background-color: ivory;
  border-radius: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
section .thumbnail:hover {
  transform: scale(0.93);
  z-index: 2;
}
.thumbnail .img-list{
  height: 430px;
  object-fit: contain;
  display: block;
  margin-left: 2px auto;
  margin-right: 2px auto;
  max-width: 360px;
}
.product-details {
  width: 360px;
  background-color: transparent;
  color: rgb(68, 36, 36);
  text-align: center;
  font-family: Varela Round;
}
.hrclass{
  width: 360px;
  margin-top: -2px;
  color: rgb(148, 148, 119) !important;
}
.product-details h6{
  font-size: 150%;
  font-family: Varela Round;
}
.product-details h6:hover {
    color:#9d0191;
}

/* Style for the singleitem including cart button price and description */
#complete-wrapper{
  max-width: 100%;
  min-height: 600px;
  flex-wrap: wrap;
  margin:0px;
  display: flex;
  align-items: center;
  background-color: ivory;
}
#thumbnail-wrapper{
	align-items: center;
  margin: 5px;
  display: inline;
}
.thumbnail-image{
	object-fit: cover;
	width: 50px;
	max-height: 100px;
	cursor: pointer;
	opacity: 1;
	margin: 5px;
  border: 0.1px solid rgb(235, 235, 225) !important;
}
#main-image{
  display: block;
  height: 500px;
  object-fit: contain;
  margin-left: 0px;
  margin-right: 10px;
	cursor: pointer;

}
.itemdesc-section{
  margin-top: 10px;
  padding: 20px;
}
.item-brand{
  margin-top: 5px;
  font-size: 200%;
  text-shadow: 1px 1px 5px white;
  padding-bottom: 0.1rem;
  color:rgb(121, 104, 8);
  font-family: Varela Round;
}
.item-price{
  justify-self: center;
  font-family: Varela Round;
  text-shadow: 1px 1px 5px white;
}
.item-desc{
  text-shadow: 1px 1px 5px white;
  color:rgb(26, 23, 12);
  font-family: Varela Round;
  font-size: 120%;
}
#plusbutton, #minusbutton{
  margin: 5px;
  background-color: wheat;
}
#cartquantity{
  margin-left: 10px;
  margin-right: 10px;
  background-color: ivory;
  border: 2px solid rgb(121, 104, 8);
  padding: 5px 15px 10px 15px;
  border-radius: 5px;
}
#cart-buttons{
  color:rgb(121, 104, 8) !important;
  font-family: Varela Round !important;
  text-shadow: 1px 1px 5px white !important;
  font-family: Varela Round;
  margin: 5px 5px 5px 0px;
  padding: 5px;
  height: 50px ;
  width: 300px;
  border-radius: 5px;
  background-color: ivory;
}
#back-button{
  height:50px;
  width: 100px;
  border-radius:5px;
  font-family: Varela Round;
  padding: 5px;
}
/* Style for the cacrt section */
.cartmainitem{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.cart-item-list img{
  height: 400px;
  margin: 10px;
  width: 300px;
  justify-content: center;
  align-items: center;
  background-color: ivory;
  border: 2px solid rgb(238, 238, 175);
  padding: 5px;
}
.cart-img-list{
  max-width: 300px;
  object-fit: contain;
}
.cart-product-details{
  font-size: 200%;
}
.cart-product-details h6{
  color: rgb(121, 104, 8);
  font-size: 80%;
  text-align: center;
  font-family: Varela Round;
}
.carttitle{
  color: rgb(121, 104, 8);
  font-size: 150%;
  text-align: center;
  font-family: Varela Round;
}
#cartorder, .returntosite{
  margin: 10px;
  width: 300px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(233, 233, 152);
}
/* Style for the Parallex */
.carousel-inner-footer{
  padding: 0;
}
.carousel-item-footer{
  padding: 0;
}
.carousel-item-footer img{
  padding: 0;
}
.carousel-item-footer video{
  width: 100%;
  object-fit: contain;
}
.carousel-caption-footer{
  padding: 0;
}
.carousel-caption-footer button{
  padding: 0;
}



/* Style for the footer */
footer {
  background-color:rgb(20, 9, 20) !important;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}


/* style for newentry Forms */
.advance {
  color:brown;
  font-weight: 400;
  font-size: 150%;
  margin-left: 1%;
  padding: 10px;
  margin-bottom: 5px;
}
.reg_form {
  width: 100%;
  margin: auto;
}
.register {
  justify-content: center;
}
.imageform{
  border: 2px solid rgb(146, 25, 25);
  border-radius: 14px;
  padding: 4px;
  }
  .addimage{
    color: #9e3737;
    width: 100%;
    text-align: center;
    margin-top: 4px;
    font-weight: 600;
  }
  .submitform{
    border-radius: 14px;
    border: 2px solid rgb(162, 224, 162);
    width: 100%;
    margin-top: 10px;
    padding:7px;
    background-color: rgb(204, 233, 204);
    width: 100%;
  }
 


  /* Styling for register form*/
.register {
  justify-content: center;
}
.advance {
  color:brown;
  font-weight: 400;
  font-size: 150%;
  margin-left: 1%;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: 5%;
}
.reg_form {
  width: 100%;
  margin: auto;
}


/* At media root css */

/* At before collapse/desktop */
@media (min-width: 991px) and (max-width: 3000px){
  .socialnav{
    display: flex !important;
    flex-wrap: nowrap !important;
    margin-left: 100px;
  }
  .socialnav a {
    font-size: 3rem;
    flex-shrink: 6;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: -8px;
    height: 50px !important;
  }
  .mobilesocialnav {
    display: none !important;
  }
  .dropdown .dropdown-menu{
    background: transparent !important;
    border: transparent !important;
    margin-top: 5px;
    font-family: Varela Round;
  }
  .dropdown-menu .dropdown-item{
    background: transparent !important;
    color:white;
    margin-top: 5px;
    width: 310px;
    font-size: 150%;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .fa-angle-left, .fa-angle-right, .btn-lefts, .btn-rights {
    display: block !important;
  }
  .btn-lefts, .btn-rights {
    width: 50px;
    margin :1px;
  }
  
 
}

/* At After collapse/mobile */
@media (min-width: 100px) and (max-width: 990px){
  .navbar-brand img{
    max-height: 70px;
    object-fit: contain;
    margin: -15px 0 -14px -20px !important;
    background-color: transparent;
  }
  .dropdown-menu .dropdown-item{
    color:black;
    border: 2px solid ivory;
    margin-left: 5px;
    width: 310px;
    font-size: 150%;
  }
  .socialnav a{
    display: none !important;
  }
  .mobilesocialnav {
    display: block !important;
    background-color: rgb(240, 237, 232) !important;
  }
  .mobilesocialnav a {
    font-size: 2.0rem;
    padding: 0.5rem;
    height: 50px !important;
  }
  .fa-angle-left, .fa-angle-right, .btn-lefts, .btn-rights {
    display: none !important;
  }
  .mobile-cart {
    color:purple !important;
    text-decoration: none;
    padding:5px 5px 5px 5px;
    position: relative;
    font-size: 100%;
    top: 15px;
    display: inline-block;
    border-radius: 2px;
  }
  .mobile-cart .mobile-badge {
    position: absolute;
    top: -50px;
    left: -37px;
    padding: 5px 10px;
    border-radius: 50%;
    color: rgb(240, 237, 232) !important;
  }
  .section-container{
    overflow-x: auto !important;
  }
  section::-webkit-scrollbar {
    height: 5px;
    width: 2px;
    border: 1px solid #d5d5d5;
    background: #d5d5d5;
  }
 
}

/* in between mobile and desktop */

@media (min-width: 481px) and (max-width: 990px){
    .carousel-item-head img{
      max-width: 350px;
      object-fit: contain;
      margin-bottom: 3rem;
    } 
    .carousel-caption-head h3{
      font-size: 100%;
      padding-bottom: 0rem;
     }
     .carousel-caption-head{
      position: absolute;
      top: 35%;
      transform: translateY(-50%);
      transform: translate(-45%);
     }  
     .carousel-caption-head button {
      font-size: 90%;
    }
   }
@media (min-width: 1px) and (max-width: 480px){
.carousel-item-head img{
  max-width: 430px;
  object-fit: contain;
  margin-bottom: 5rem;
  margin-top: 1.5rem;
  margin-left: 2rem;
}
.carousel-caption-head h3{
  font-size: 100%;
  padding-top: 0rem;
  }
  .carousel-caption-head{
  position: absolute;
  top:20rem;
  transform: translateY(100%);
  transform: translateX(1%);
  }  
  .carousel-caption-head button {
    margin: -1rem;
    font-size: 80%;
  }
  .carousel-indicators{
    visibility: hidden;
  }
  button .navbar-toggler{
    margin-left: -10px;
  }
  #menu-div{
    width: 40px;
    font-size: 80%;
    height: 15px;
  }
  .mobile-cart .mobile-badge {
    position: absolute;
    top: -60px;
    left: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    color: rgb(240, 237, 232) !important;
  }
  #main-image{
    max-width: 260px;
    object-fit: contain;
  }
    #cart-buttons{
      width: 250px;
    }
    #back-button{
      height:50px;
      width: 60px;
      border-radius:5px;
      font-family: Varela Round;
    }
  
} 
.spacefield{
  width: 100%;
  padding: 0;
  border: 0;
  margin-top: 0;
}
.textforma {
  width: 50%;
  padding:7px;
  border: 7px;
  border-radius: 5px;
  margin-top: 15px;
  }
.textformb{
  width: 100%;
  height: 60px;
  padding:7px;
  border-radius: 5px;
  margin-top: 15px;
}
input[type="text"][class="spacefield"][disabled]{
  background-color: honeydew;
  height:2px
}
input[type="text"][id="rcurrency"]{
  background-color: honeydew;
  height: 100%;
  padding:7px;
}
.btn .btn-info{
  width: 100%;
}
label{
  margin-top: 10px;
  font-weight: bolder;
}
.form-control {
  margin-top: 20px; 
}






